<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and all Ecosystem are summarized as my undesrtanding of knowledge.

#### Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python </li>
    <li> R </li>
    <li> Javascript </li>
    <li> SQL </li>
    <li> Java </li>
</ol>

#### some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>numpy</li>
    <li>pandas</li>
    <li>scikit-learn</li>
    <li>scipy</li>
    </ol>

<table>
    <thead>
      <tr>
        <th>Data Science Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jupyter Notebook</td>
      </tr>
      <tr>
        <td>RStudio</td>
      </tr>
      <tr>
        <td>Visual Studio Code</td>
      </tr>
    </tbody>
  </table> Â

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

<strong>Objectives:</strong>
<ul>
    <li>Some of the popular languages that Data Scientists use </li>
    <li>Some of the commonly used libraries used by Data Scientists </li>
    <li>Data Scince Tools </li>
    <li>Evaluating Arithmetic Expression</li>
 </ul>

<h2> Author </h2>
<p> Rajendra Kandel </p>